* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #aaf0a8, #70d573);
}

header {
    display: flex;
    justify-content: space-between;
}

#scores {
    margin: 1% 0 0 1%;
}

#timer {
    margin: 1% 5% 0 0;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.quiz-card {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 300px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.quiz-card .titles{
    margin-bottom: 20px;
    text-align: center;
}

.quiz-card p {
    padding: 0 50px 0 50px;
}

.start-button {
    padding: 5px;
    background-color: teal;
    border-radius: 30px;
    color: white;
    justify-content: center;
    font-size: 100%;
    width: 100px;
}

#questions {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: none;
}

#answers {
    display: flex;
    flex-direction: column;
    display: none;
}

.ask-question{
    font-family: 'Circular', sans-serif;
    font-size: 125%;
    margin-bottom: 35px;
}

#answer {
    display: flex;
    margin: 3px;
    width: 230px;
}


